#bus{
	float: left;
}

.head{
	background-color:#ffd800;
	box-shadow: 3px 3px 5px 6px #000;
	background-attachment: fixed;
	height: 15rem;
}

.banner{
	text-align: center;
	font-size:150%;
	padding-top:5rem;
	font-family: 'Rock Salt', cursive;
}

.about{
	margin-top:4rem;
	font-family: 'Boogaloo', cursive;
}

.caption{
	margin-top:3rem;
	font-family: 'Boogaloo', cursive;
}

footer{
	background-color:#ffd800;
	text-align:center;
	height:5rem;
	font-family: 'Boogaloo', cursive;
}